<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EzWhatsapp</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <h2>All Chats</h2>
    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>
    <hr/>

    <% for(let chat of chats) { %>
    <div class="chat">
        <p>From: <%= chat.from %></p>
        <hr/>
        <div class="msg">
            <p><%= chat.message %></p> 
        </div>
        <p>Received by: <%= chat.to %></p>
        <hr>
        <p><%=chat.created_at.toString().split(" ")[4] %></p>
        <p><%=chat.created_at.toString().split(" ").slice(0,4).join("-")%></p>
    </div>
    <br><br><hr/>
    <% } %>
</body>
</html>
